---
name: Build
permissions:
  contents: read
  packages: write
on:
  schedule:
    - cron: 30 4,16 * * *
  workflow_dispatch:
jobs:
  kernel:
    name: Build kernel
    runs-on: ubuntu-latest
    matrix:
      exclude:
        - refs:
           - refs/heads/master
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Build kernel
        uses: ./
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.pkg.tar.zst*
